<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>volStory | API</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <!-- Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet">
    <!-- NProgress -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.css" rel="stylesheet"> -->
    <!-- Custom Theme Style -->
    <link rel='stylesheet' type="text/css" href='stylesheets/style.css' />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            if ($(window).width() > 750) {
                $('#total-nav').addClass('sticky-top');
            } else {
                $('#total-nav').removeClass('sticky-top');
            }
        });
    </script>
</head>

<body>
    <div class="container">
        <h2 class="danger">This dashboard is deprecated!</h2>
    </div>
    <!-- <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="http://autotek21.com/wp-content/uploads/2018/05/AT21-car-final-v1.1-white-3.png" width="110"
                height="40" alt="" />
            Analytics
        </a>
    </nav>
    <div class="container-fluid trim-padding" style="padding-bottom: 20px">
        <div id="total-nav" class="row top-row" role="navigation">
            <div class="col-sm col-md col-lg card-sm">
                <span>Total Bookings</span>
                <h1 id="booking-count" style="color: #2ECC71"></h1>
            </div>
            <div class="col-sm col-md col-lg card-sm">
                <span>Total Courtsey Vehicles</span>
                <h1 id="courtsey-booking-count" style="color: #34495E"></h1>
            </div>
            <div class="col-sm col-md col-lg card-sm">
                <span>Total Failed Bookings</span>
                <h1 id="failed-api-count" style="color: #E74C3C"></h1>
            </div>
            <div class="col-sm col-md col-lg card-sm">
                <span>Total Incomplete Bookings</span>
                <h1 id="incomplete-bookings-count" style="color: #5DADE2"></h1>
            </div>
            <div class="col-sm col-md col-lg card-sm">
                <span>Total Errors</span>
                <h1 id="error-count" style="color: #D35400"></h1>
            </div>
        </div>
         <div class="row">
          <div class="card filter-bar">

          </div>
      </div> 
        <div class="row flex-class">
            <div class="col-md-6">
                <div class="card chart-conatiner">
                    <canvas id="booking-chart" style="height:55vh; width:42vw"></canvas>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card chart-conatiner">
                    <canvas id="courtsey-booking-chart" style="height:55vh; width:42vw"></canvas>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card chart-conatiner">
                    <canvas id="api-error-chart" style="height:55vh; width:42vw"></canvas>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card chart-conatiner">
                    <canvas id="incomplete-bookings-chart" style="height:55vh; width:42vw"></canvas>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card chart-conatiner">
                    <canvas id="error-chart" style="height:55vh; width:42vw"></canvas>
                </div>
            </div>

        </div>
    </div> -->


    <!-- Scripts -->
<!-- 
    <script src="javascripts/totalBookings.js"></script>
    <script src="javascripts/totalCourtseyBookings.js"></script>
    <script src="javascripts/totalApiErrors.js"></script>
    <script src="javascripts/totalIncompleteBookings.js"></script>
    <script src="javascripts/totalBotErrors.js"></script> -->
</body>

</html>